#card {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  margin: 100px 30px;
  justify-content: space-evenly;
}
.card-box {
  width: 15%;
  text-align: center;
  margin: 50px 30px;
  max-height: 300px;
  border: 2px solid rgb(189, 180, 189);
  box-shadow: 10px 10px 34px rgba(211, 174, 156, 0.58);
  text-align: center;
}
.card-box img {
  width: 95%;
  height: 80%;
  padding: 10px;
}
.card-box .card-title {
  font-size: 15px;
  padding: 4px;
  border: 2px solid rgb(206, 106, 34);
  color: rgb(206, 106, 34);
  width: max-content;
  margin: auto;
}
