@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:1&display=swap");
.mainpge {
  background-image: url("../images/bgrnd.avif");
  background-size: cover;

  background-repeat: no-repeat;
  height: 100vh;
}

.feature {
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
  font-family: "Playfair Display";
  color: rgb(10, 96, 76);
  /* font-weight: bold; */
  letter-spacing: 2px;
  font-size: 45px;
  width: 60%;
  border-bottom: 2px solid rgb(10, 82, 73);
}

.card-title {
  font-weight: bold;
  color: rgb(224, 104, 24);
  padding-bottom: 5px;
}
